brainwide/logs/slurm
brainwide/decoding/settings/settings.py
brainwide/decoding/*pqt
brainwide/decoding/results/
brainwide/decoding/wide_field_imaging/
legacy_decoding/
legacy
.gitignore
.gitignore
dj_local_conf.json
.DS_Store
/.vscode/
/decoding/*pqt
*.mat
*.html
*.log
*.png
*.p
/data/*_fits/
*/__pycache__/
*.ipynb_checkpoints/
*.pyc
.one_params
*dask-worker-space/
/results/
/decoding/Data
/decoding/results/
/decoding/models/
*.*lock
*.parquet
*.pkl
*.npy
*.pdf
*.out
*.jpg
*.svg
*.parquet
*.csv
*.idea
