tqdm
numpy
pandas
scikit-learn
torch
ibllib
ONE-api
ibl-neuropixel
behavior_models @ git+https://github.com/int-brain-lab/behavior_models.git
brainwidemap @ git+https://github.com/int-brain-lab/paper-brain-wide-map.git