tqdm==4.66.4
numpy==1.23.0
pandas==1.5.0
scikit-learn==1.5.1
torch==1.8.0
ibllib==2.38.0
ONE-api==2.8.0
iblatlas==0.5.3
ibl-neuropixel
psychofit
wfield
behavior_models @ git+https://github.com/int-brain-lab/behavior_models.git
brainwidemap @ git+https://github.com/int-brain-lab/paper-brain-wide-map.git
